*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    background-color: saddlebrown;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.logNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
.backshop{
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.rapperImg{
    width: 100%;
    height: 38pc;
}
.rapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 38pc;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 38pc;
}
.log-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 10px;
}
.log-content p{
    font-weight: 600;
    font-size: 25px;
    color: white;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logrol{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.log-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.logtext{
    font-weight: 600;
    color: white;
}
.fieldd{
    border: 1px solid white;
    background-color: transparent;
    padding: 0px 10px;
    line-height: 30px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}
.field{
    border: 1px solid white;
    background-color: transparent;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    line-height: 20px;
    outline: none;
}
.retn{
    text-decoration: underline;
    color: white;
    font-size: 15px;
}
.signin{
    background-color: rgb(1, 99, 1);
    border: none;
    color: white;
    font-weight: 600;
    width: 20%;
    height: 25px;
    border-radius: 5px;
}
.discount{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 90%;
    height: 11pc;
    /* margin-bottom: 30px; */
    justify-content: center;
    align-items: center;
}
.discount-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}
.dis-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dis-item p{
    font-weight: 600;
    font-size: 20px;
}
.dis-item .p{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.sub{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2pc;
}
.email-sub{
    width: 100%;
    height: 2pc;
    border: 1px solid green;
    padding-left: 10px;
    outline: none;
}
.subcription{
    width: 30%;
    height: 2pc;
    background-color: rgb(1, 110, 1);
    border: none;
    color: white;
}
/* forget password */
.log-info p{
    font-size: 15px;
}
.forget-row{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
.forget-signin{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
}
.btn-forget{
    width: 100%;
    height: 30px;
    border: none;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.fforget-password{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
}
.fforget-password a{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
}
.fforget-password span{
    color: gold;
}
.fforget-password p{
    font-size: 17px;
}
/* create */
.social{
    display: block;
    flex-direction: column;
    width: 100%;
}
.social-row{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}
.socialimg{
    width: 5%;
    border-radius: 50px;
}
.sitenamfooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.sitenamfooter h1{
    font-size: 15px;
    color: white;
}
.siteimg{
    width: 5%;
}
/* loading */
.loader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: saddlebrown;
}
.loader{
    width: 70px;
    height: 70px;
    border: 6px solid transparent;
    border-top: 6px solid rgb(2, 242, 2);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
.loader-container p{
    font-size: 1.1rem;
    color: white;
}
.congratulation{
    margin-top: 10px;
    font-size: 1.1rem;
    color: greenyellow;
}
#success{
    display: none;
    opacity: 0.5;
    transition: opacity 5s ease-in-out;
}
#success.show{
    opacity: 1;
}
.error-msg{
    color: #d8000c;
    font-weight: 700;
    background-color: #ffbaba;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none;
}
.success-msg{
    color: #4f8a10;
    font-weight: 700;
    background-color: #dff2bf;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none;
}









@media screen and (max-height: 1000px){
    .login-container{
        height: 42pc;
        width: 100%;
    }
    .rapper{
        display: none;
    }
    .socialimg{
        width: 8%;
    }
    .btn-forget{
        height: 30px;
        
    }
    .fforget-password a{
        width: 100%;
        font-size: 14px;
    }
    .fieldd{
        align-items: center;
        width: 100%;
    }
    .field{
        padding: 10px;
    }

    .discount-con{
        width: 90%;
    
    }
    .dis-item p{
        font-size: 20px;
    }
    .email-sub{
        height: 2pc;
    }
    .subcription{
        height: 2pc;
        width: 50%;
    }
    .siteimg{
        width: 10%;
    }
    .sitenamfooter{
        height: 5pc;
    }

}
@media (min-width: 481px) and (max-width: 968px){
    .content{
        height: auto;
        align-items: start;
    }
    .rapper{
        display: flex;
        width: 65%;
        height: 375px;
    }
    .rapperImg{
        height: 375px;
    }
    .login-container{
        height: 375px;
        width: 45%;
    }
    .log-content{
        gap: 10px;
    }
    .log-content p{
        font-size: 12px;
    }
    .log-info{
        font-size: 10px;
    }
    .item{
        gap: 5px;
    }
    .field{
        padding: 0px;
        height: 25px;
    }
    .fieldd{
        padding: 0px;
        height: 25px;
    }
    .socialimg{
        width: 5%;
    }
    .btn-forget{
        height: 20px;
        font-size: 10px;
    }
    .fforget-password a{
        font-size: 10px;
    }
    .discount{
        height: 140px;
        margin: 10px;
    }
    .discount-con{
        gap: 5px;
    }
    .dis-item p{
        font-size: 12px;
    }
    .dis-item .p{
        font-size: 10px;
        text-align: center;
    }
    .subcription{
        font-size: 10px;
        height: 25px;
    }
    .email-sub{
        height: 25px;
    }
    .sitenamfooter{
        height: auto
    }
    .sitenamfooter h1{
        font-size: 10px;
    }
    .siteimg{
        width: 7%;
    }
}
@media screen and (min-height: 1000px){
    .content{
        height: auto;
        align-items: start;
    }
    .rapper{
        height: 550px;
    }
    .rapperImg{
        height: 550px;
    }
    .login-container{
        height: 550px;
    }
    .log-content p{
        font-size: 15px;
    }
    .logtext{
        font-size: 15px;
    }
    .btn-forget{
        height: 25px;
    }
    .field{
        height: 20px;
    }
    .fforget-password a{
        font-size: 12px;
    }
    .fieldd{
        align-items: center;
        width: 100%;
    }
    .discount{
        height: 130px;
    }
    .discount-con{
        width: 90%;
    
    }
    .dis-item p{
        font-size: 15px;
    }
    .email-sub{
        height: 25px;
    }
    .subcription{
        height: 25px;
        width: 50%;
    }
    .socialimg{
        width: 10%;
    }
    .siteimg{
        width: 10%;
    }

}
@media screen and (min-width: 1000px){
    .content{
        height: auto;
        align-items: start;
    }
    .rapper{
        display: flex;
        width: 65%;
        height: 650px;
    }
    .rapperImg{
        height: 648px;
    }
    .login-container{
        height: 650px;
        width: 45%;
    }
    .log-content{
        gap: 20px;
    }
    .log-content p{
        font-size: 15px;
    }
    .log-info{
        font-size: 15px;
    }
    .item{
        gap: 5px;
    }
    .field{
        padding: 0px;
        height: 30px;
    }
    .fieldd{
        padding: 0px;
        height: 40px;
    }
    .socialimg{
        width: 5%;
    }
    .btn-forget{
        height: 40px;
    }
    .fforget-password a{
        font-size: 15px;
    }
    .discount{
        height: 170px;
        margin: 10px;
    }
    .discount-con{
        gap: 10px;
    }
    .dis-item p{
        font-size: 20px;
    }
    .dis-item .p{
        font-size: 15px;
        text-align: center;
    }
    .subcription{
        font-size: 15px;
        height: 30px;
    }
    .email-sub{
        height: 30px;
    }
    .sitenamfooter{
        height: auto
    }
    .sitenamfooter h1{
        font-size: 15px;
    }
    .siteimg{
        width: 7%;
    }

}