*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    background-color: saddlebrown;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.logNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
.backshop{
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.rapperImg{
    width: 100%;
    height: 100vh;
}
.rapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
}
.log-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* height: 100vh; */
    gap: 10px;
}
.log-content p{
    font-weight: 600;
    font-size: 25px;
    /* padding-bottom: 20px; */
    color: white;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: auto; */
}
.logrol{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.log-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.logtext{
    font-weight: 600;
    color: white;
}
.fieldd{
    border: 1px solid white;
    background-color: transparent;
    height: 5vh;
    padding: 20px;
    width: 100%;
}
.field{
    border: 1px solid white;
    background-color: transparent;
    height: 5vh;
    padding: 20px;
    width: 100%;
}
.retn{
    text-decoration: underline;
    color: white;
    font-size: 15px;
}
.signin{
    background-color: rgb(1, 99, 1);
    border: none;
    color: white;
    font-weight: 600;
    width: 20%;
    height: 5vh;
    border-radius: 5px;
}
.discount{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 90%;
    height: 30vh;
    /* margin-bottom: 30px; */
    justify-content: center;
    align-items: center;
}
.discount-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dis-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dis-item p{
    font-weight: 600;
    font-size: 25px;
}
.dis-item .p{
    font-weight: 400;
    font-size: 15px;
}
.sub{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.email-sub{
    width: 100%;
    height: 6vh;
    border: 1px solid green;
    padding-left: 10px;
}
.subcription{
    width: 30%;
    height: 6vh;
    background-color: rgb(1, 110, 1);
    border: none;
    color: white;
}
/* forget password */
.log-info p{
    font-size: 15px;
}
.forget-row{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
.forget-signin{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
}
.btn-forget{
    width: 100%;
    height: 6vh;
    border: none;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.fforget-password{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
}
.fforget-password a{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
}
.fforget-password span{
    color: gold;
}
.fforget-password p{
    font-size: 17px;
}
/* create */
.social{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.social-row{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}
.socialimg{
    width: 5%;
    border-radius: 50px;
}
.sitenamfooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
.sitenamfooter h1{
    font-size: 15px;
}
.siteimg{
    width: 5%;
}




@media screen and (max-height: 1000px){
    .container{
        height: 100vh;
    }
    .login-container{
        width: 100%;
    }
    .rapper{
        display: none;
    }
    .socialimg{
        width: 10%;
    }
    .btn-forget{
        height: 5vh;
        
    }
    .fforget-password a{
        width: 100%;
        font-size: 14px;
    }
    .fieldd{
        align-items: center;
        width: 100%;
    }
    .field{
        padding: 10px;
    }
    .discount{
        height: 25vh;
        margin-bottom: 20px;
    }
    .discount-con{
        width: 90%;
    
    }
    .dis-item p{
        font-size: 20px;
    }
    .email-sub{
        height: 5vh;
    }
    .subcription{
        height: 5vh;
        width: 50%;
    }
    .siteimg{
        width: 10%;
    }

}
@media (min-width: 481px) and (max-width: 968px){
    .rapper{
        display: flex;
        width: 65%;
    }
    .login-container{
        width: 45%;
    }
    .log-content{
        gap: 10px;
    }
    .log-content p{
        font-size: 12px;
    }
    .log-info{
        font-size: 10px;
    }
    .item{
        gap: 5px;
    }
    .field{
        padding: 0px;
    }
    .fieldd{
        padding: 0px;
    }
    .socialimg{
        width: 5%;
    }
    .fforget-password a{
        font-size: 10px;
    }
    .discount{
        height: 25vh;
        margin: 10px;
    }
    .discount-con{
        gap: 5px;
    }
    .dis-item p{
        font-size: 12px;
    }
    .dis-item .p{
        font-size: 10px;
        text-align: center;
    }
    .subcription{
        font-size: 10px;
    }
    .sitenamfooter h1{
        font-size: 10px;
    }
    .siteimg{
        width: 7%;
    }
}
@media screen and (min-height: 1000px){
    .content{
        /* height: 60vh; */
        border-bottom: 1px solid black;
    }
    .rapper{
        justify-content: start;
    }
    .rapperImg{
        height: 40vh;
    }
    .login-container{
        justify-content: start;
    }
    .btn-forget{
        height: 3vh;
    }
    .field{
        height: 2vh;
    }
    .fforget-password a{
        font-size: 12px;
    }
    .fieldd{
        align-items: center;
        width: 100%;
        height: 1vh;
    }
    .discount{
        height: 13vh;
    }
    .discount-con{
        width: 90%;
    
    }
    .dis-item p{
        font-size: 15px;
    }
    .email-sub{
        height: 3vh;
    }
    .subcription{
        height: 3vh;
        width: 50%;
    }
    .socialimg{
        width: 10%;
    }
    .siteimg{
        width: 10%;
    }

}
@media screen and (min-width: 1000px){
    .rapper{
        display: flex;
        width: 60%;
    }
    .login-container{
        width: 40%;
    }
    .log-content{
        gap: 20px;
    }
    .fieldd{
        align-items: center;
        width: 100%;
    }
    .fforget-password a{
        font-size: 15px;
    }
    .discount-con{
        width: 90%;
    }
    .dis-item p{
        font-size: 23px;
    }
    .discount{
        height: 30vh;
        margin: 0px;
        margin-bottom: 10px;
    }
    .dis-item .p{
        text-align: center;
    }
    .siteimg{
        width: 7%;
    }
    .socialimg{
        width: 6%;
    }

}


