.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: saddlebrown;
    gap: 20px;
}
.log-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 55vh;
    gap: 10px;
}
.log-content p{
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    color: white;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}
.logrol{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.log-info{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 5px;
}
.logtext{
    font-weight: 600;
    color: white;
}
.fieldd{
    border: 1px solid green;
    background-color: #ddd;
    border-radius: 5%;
    height: 5vh;
}
.retn{
    text-decoration: underline;
    color: white;
    font-size: 15px;
}
.signin{
    background-color: rgb(1, 99, 1);
    border: none;
    color: white;
    width: 20%;
    height: 5vh;
    border-radius: 5px;
}
.discount{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 50%;
    height: 40vh;
    /* margin-bottom: 30px; */
    justify-content: center;
    align-items: center;
}
.discount-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dis-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dis-item p{
    font-weight: 600;
    font-size: 25px;
}
.dis-item .p{
    font-weight: 400;
    font-size: 15px;
}
.sub{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.email-sub{
    width: 100%;
    height: 6vh;
    border: 1px solid green;
    padding-left: 10px;
}
.subcription{
    width: 30%;
    height: 6vh;
    background-color: rgb(1, 110, 1);
    border: none;
    color: white;
}
/* forget password */
.log-info p{
    font-size: 15px;
}
.forget-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.forget-signin{
    display: flex;
    /* flex-direction: row; */
    width: 20%;
}
.btn-forget{
    width: 100%;
    height: 6vh;
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;
}
.fforget-password{
    display: flex;
    flex-direction: column;
    
}
.fforget-password a{
    color: black;
}
.fforget-password p{
    font-size: 17px;
    margin-top: 20px;
}
/* create */
.social{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 150px;
}
.social-row{
    display: flex;
    flex-direction: row;
}
.socialimg{
    width: 5%;
}
.sitenamfooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
.sitenamfooter h1{
    font-size: 15px;
}
.siteimg{
    width: 10%;
}


@media screen and (max-height: 1000px){
    .log-content{
        align-items: center;
        width: 100%;
    }
    form{
        width: 70%;
        align-items: center;
    }
    .forget-row{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    /* .item{
       width: 100%;
        align-items: center;
    } */
    .log-info{
        width: 100%;
    }
    .fieldd{
        align-items: center;
        width: 100%;
        background-color: transparent;
        border: 1px solid white;
    }
    .fforget-password a{
        color: white;
    }
    .discount{
        width: 90%;
        height: 20%;
    }
    .dis-item p{
        font-size: 12px;
    }
    .dis-item .p{
        font-size: 12px;
        text-align: center;
    }
    .email-sub{
        width: 60%;
        height: 5vh;
    }
    .subcription{
        width: 30%;
        height: 5vh;
    }

}